@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

input, button {
  border-radius: 5px;
  padding: 10px; }

a {
  color: inherit; }

#wrapper {
  margin: 100px auto;
  padding: 20px 40px;
  border-radius: 10px;
  width: 400px;
  background: linear-gradient(0deg, #3cf, #37f);
  font-size: 20px;
  color: #fff;
  text-align: center; }

#wrapper h1 {
  font-size: 30px; }

#wrapper section {
  display: block;
  margin: 20px auto; }

#search-form {
  max-width: 400px;
  overflow: hidden; }

#search-form > * {
  float: left; }

#search-box {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 80%; }

#search-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 19%;
  background: #3cf;
  color: #fff; }

#current-temp {
  font-size: 140px;
  line-height: 140px;
  font-weight: 100; }

#current-temp sup {
  font-size: 50px; }

/*#projection > *
{
	display: inline-block;
}*/
#credits {
  font-size: 10px; }
