@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");

$full-width: 400px;

$base-font-size: 20px;

$white: #fff;
$light-blue: #3cf;
$dark-blue: #37f;

@mixin box-reset
{
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

*
{
	@include box-reset;
	font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {font-weight: 300;}

input, button
{
	border-radius: 5px;
	padding: 10px;
}

a {color: inherit;}

#wrapper
{
	margin: 100px auto;
	padding: 20px 40px;
	border-radius: 10px;
	width: $full-width;
	background: linear-gradient(0deg, $light-blue, $dark-blue);
	font-size: $base-font-size;
	color: $white;
	text-align: center;
}

#wrapper h1 {font-size: ($base-font-size * 1.5);}

#wrapper section
{
	display: block;
	margin: 20px auto;
}

#search-area
{
	max-width: $full-width;
	overflow: hidden;
}

#search-area > * {float: left;}

#search-box
{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	width: 80%;
}

#search-button
{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	width: 19%;
	background: $light-blue;
	color: $white;
}

#current-temp
{
	font-size: 150px;
	line-height: 150px;
	font-weight: 100;
}

#current-temp sup
{
	font-size: 50px;
}

/*#projection > *
{
	display: inline-block;
}*/

#credits {font-size: ($base-font-size / 2);}